<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <script src="js/scripts.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar', {loggedIn: loggedIn, login: login}); %>

    <div class="box container is-max-desktop">
      <form action="/addAdvertisiment" method="post">
        <div class="field">
          <label class="label"> Address </label>
          <div class="control">
            <input class="input" type="text" name="address" required />
          </div>
        </div>

        <div class="field">
          <label class="label"> Cost </label>
          <div class="control">
            <input class="input" type="number" name="cost" required />
          </div>
        </div>

        <div class="field">
          <label class="label"> Description </label>
          <div class="control">
            <textarea class="textarea" name="description" required></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-light is-success">
              Submit
            </button>
          </div>

          <div class="control">
            <button type="reset" class="button is-danger is-light">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <%- include('./partials/footer'); -%>
  </body>
</html>
